
.girls_col{
    margin-bottom: 30px;
}
.girls_col a:hover{
    text-decoration: none;
}
.type-girls .post-thumbnail{
    display: none;
    max-height: 600px;
    overflow: hidden;
}
.type-girls .post-thumbnail img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}
.girls_col .girls_container{
    position: relative;
    max-height: 680px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease;
}
.girls_col .girls_container:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
}
.girls_col .girls_container
.girls_col .girls_container:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(80,80,80,0.4);
    background: linear-gradient(153deg, rgba(80,80,80,0) 47%, rgba(80,80,80,0.5746673669467788) 64%, rgba(43,26,26,0.7483368347338936) 82%, rgba(39,39,39,0.7903536414565826) 100%);
}
.girls_col .girls_container .girls_poster{
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.girls_col .girls_container .girls_poster img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}
.girl-content{
    float: left;
    max-width: 73%;
    width: 100%;
}
.girl-content:after{
    content: '';
    display: block;
    clear: both;
}
.girl-sidebar{
    float: left;
    max-width: 27%;
    width: 100%;
    padding-right: 20px;
}
.girls-sidebar #girlsexerpt{
    padding: 20px 0 0 0;
    color: var(--textColor1);
}
.type-girls .container:after{
    content: '';
    display: block;
    clear: both;
}
.girls_desc{
    text-align: right;
    padding: 5px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    vertical-align: middle;
    
}
.girls_desc .girl_list{
    margin: 10px 0;
    padding: 0;
}
.girls_desc .girls_name{
    color: var(--lightColor);
    font-size: 18pt;
    font-weight: 500;
}
.girls_desc .girl_att{
    display: inline-block;
    margin-left: 20px;
    font-size: 20pt;
    color: var(--lightColor);
    vertical-align: middle;
    line-height: 0;
}
.girls_desc .girl_att span{
    display: inline-block;
    line-height: 1;    
}
.girls_desc .girl_att svg{
    width: 18px;
    fill: var(--lightColor);
    display: inline-block;
    margin-right: 10px;
}
.girls_desc .girl_att:last-child:after{
    content: '';
    display: block;
    clear: both;
}

@media (max-width: 767px){
    .type-girls .post-thumbnail{
        display: block;
    }
    .girl-content{
        float: none;
        max-width: none;
    }
    .girl-sidebar{
        float: none;
        max-width: none;
    }   
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }